.cityLimitz {
    fill: whitesmoke;
    opacity: 40%;
    stroke: black;
    stroke-width: 1px;
}
.neighborhoodz{
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}
.lakez {
    fill: #AED8DB;
}
/*.roadz {
    stroke: black;
    stroke-width: 2px;
} */
.map {
    border: medium solid #999;
}